/* 주석에 이름으로 각각 해놓은 css 구분 */
body{
	font-family: 'Noto Sans KR', sans-serif;
} 


/* 손성식 */
section#travel-detail-container {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
section#travel-detail-container article{
    width:880px;
    margin: auto;
}
section#travel-detail-container article#travel-product-container > div {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px;
}
section#travel-detail-container > hr {
    width:90%; text-align: center; margin-top: 20px; margin-bottom: 20px;

}
article#travel-product-container div#travel-intro-container {
    margin-left: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    display: inline-block;
    width: 415px;
    height: 510px;
    position: absolute;
}
article#travel-product-container div#travel-intro-container div{
	padding-top: 5px;
}
article#travel-product-container div#travel-intro-container #travel-title{
	padding: 0;
	border-bottom: 0.5px solid;
	border-bottom-color: silver;
}
article#travel-product-container div#travel-intro-container #travel-title h1 {
	display:inline-block;
    font-weight: bold;
}
article#travel-product-container div#travel-intro-container #travel-evul{
	border-bottom: 0.5px solid;
	border-bottom-color: silver;
}
article#travel-product-container div#travel-intro-container #travel-date{
	padding-top: 20px;
}
article#travel-product-container div#travel-intro-container #travel-address{
}
article#travel-product-container div#travel-intro-container #travel-price{
}
article#travel-product-container div#travel-intro-container #travel-review{
	height: 200px;
} 
article#travel-product-container div#travel-intro-container #travel-btn{
}
article#travel-product-container div#travel-intro-container #travel-btn div {
	display: inline-block;
	width: 78%;
	text-align: right;
}

article#travel-product-container div#travel-album {
    display: inline-block;
    width: 440px;
    margin-bottom: 8px;
    height: 268px;
    text-align: center;
}
article#travel-product-container div#travel-album img {
}

article#travel-product-container div#google-map {
    width: 440px;
    height: 234px;
    background-image: url("../images/testMap.png");
}

article#travel-comment-container {
	padding-bottom: 10px;
}

article#travel-comment-container #input-comment {
    margin-bottom: 10px;
}
article#travel-comment-container div.comment-container {
	display:flex; width: 880px; height:110px; box-shadow: 0 0 2px 0 lightgray; margin-bottom: 10px; background-color: @gray-lighter;
}
article#travel-comment-container div.comment-profile {
	display:inline-block; width: 80px; height:110px; text-align: center; padding: 1.5px;
}
article#travel-comment-container div.comment-profile img {	
}
article#travel-comment-container div.comment-writer {
	display:inline-block; width: 80px; height:110px;
}
article#travel-comment-container div.comment-date {
	display:inline-block; width: 68px; height:110px;
}
article#travel-comment-container div.comment-content {
	display:inline-block;width: 610px; height:110px;
}
article#travel-comment-container div.comment-btn-container {
	display:inline-block; width: 120px; height:110px; text-align: center;
}

/* 박순규 */
header {
	width: 100%;
	height: 100px;
	background-color: lightgrey;
	/* align-content: top; 안먹음 */
	/* 임시로 주석처리해놨습니다. */
	/* z-index: 9999;
    position: fixed; */
}

div.logo {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 10px 0px 10px 10px;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

div.logo-title {
	display: inline-block;
	width: 250px;
	height: 80px;
	text-align: left;
	vertical-align: top;
	/*박스위치*/
	background-color: lightgray;
	margin: 10px 10px 10px 0px;
}

div.menu {
	display: inline-flex;
	list-style-type: none;
	align-items: bottom;
	justify-content: left;
}

header div.header ul {
   display: inline-flex;
   list-style-type: none;
   border-style: 1px solid black;
}

header div.header li {
   display: inline;
   margin: 5px;
}

div.login-container {
	display: inline-flex;
	align-items: center;
	justify-content: right;
	float: right;
	margin: 60px 10px 10px 0px;
}


div#div-mainpage {
	width: 100%;
	height: 600px;
	/* background-color: pink;*/
	margin: 2px 0 10px;
}

div#div-top-rank {
	width: 100%;
	/*height: 1400px;*/
	/* background-color: lightblue; */
	margin: 2px 0 10px;

}

div#div-category1 {
	width: 100%;
	/* height: 400px; */
	/* background-color: pink; */
	margin: 2px 0 10px;
}

div#div-category2 {
	width: 100%;
	/* height: 400px;
	 background-color: lightblue; */
	margin: 2px;
}

div#div-category3 {
	width: 100%;
	/* height: 400px; */
	/* background-color: pink; */
	margin: 2px;
}

div#div-category4 {
	width: 100%;
	/* height: 400px; */
	/* background-color: lightblue; */
	margin: 2px;
}

section#mainpage-container {
	width: 100%;
	/* height: 2812px; */
	background-color: white;
	justify-content: center;
	align-content: center;
}

footer#footer-container {
	display: flex;
	font-style: "굴림";
	font-size: 10px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color: darkgrey;
}

/* 임지안 */
body {
	margin: 0;
}

section#notice-section {
	height: 400px;
	width: 89.5%;
	border: 1px solid lightblue;
	float: right;
}
/* #btn{width: 55px; height: 30px; border: 1px solid grey; background-color: white; border-radius: 5%;}
#btn:hover{background-color: whitesmoke;} */
/* .form-control{width: 500px;} */
nav#notice-menu {
	height: 400px;
	width: 10%;
	border: 1px solid lightseagreen;
	float: left;
}

nav#notice-menu>ul>li>a {
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
	color: darkcyan;
}

nav#notice-menu>ul>li {
	list-style-type: none;
	margin-top: 30px;
	line-height: 70px;
	font-family: "Ubuntu";
}

div#notice-container {
	height: 400px;
}

div#notice-container table {
	text-align: center;
	margin-top: 8px;
	height: 250px;
	width: 500px;
	border: 1px solid lightcoral;
}

div#notice-container table>thead {
	font-weight: bold;
}

div#notice-container table>caption {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

div#search-container {
	float: left;
	width: 100%;
	height: 35px;
	border: 1px solid lightgray;
	text-align: center;
}

div#paging-container {
	border: 1px solid lightslategray;
	width: 100%;
	height: 35px;
}

div#paging-container ul li {
	list-style-type: none;
	float: left;
}

/* 이정복 */
.panel-block {
	display: inline-block;
	margin-right: 17px;
}

#date-search input[type="text"] {
	width: 330px;
	height: 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 19px;
	padding: 12px;
}

#btn-submit {
	width: 330px;
	height: 55px;
}

#btn-back {
	width: 330px;
	height: 55px;
}

#search-content {
	width: 330px;
	height: 50px;
	font-size: 30px;
}

.btn-search {
	height: 45px;
}

/* 강도원 */
header#admin-header {
	width: 100%;
	height: 150px;
	background-color: green
}

header#admin-header div.logo {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px 0px 10px 10px;
	align-items: center;
	justify-content: center;
	background-color: gray;
}

.menu1 {
	display: inline-block;
	width: 200px;
	height: 30px;
	background-color: aqua;
}

.menu2 {
	display: inline-block;
	width: 200px;
	height: 30px;
	background-color: aqua;
}

.menu3 {
	display: inline-block;
	width: 200px;
	height: 30px;
	background-color: aqua;
}

.menu4 {
	display: inline-block;
	width: 200px;
	height: 30px;
	background-color: aqua;
}

.menu5 {
	display: inline-block;
	width: 200px;
	height: 30px;
	background-color: aqua;
}

#category1 {
	width: 1000px;
	height: 260px;
	border: 1px solid black;
	/* background-image:url('image/이미지.png'); */
	background-repeat: no-repeat;
	/* background-size:auto; */
	background-position: 50px 50px;
}

#category2 {
	width: 1000px;
	height: 260px;
	border: 1px solid black;
	/* background-image:url('image/이미지.png'); */
	background-repeat: no-repeat;
	/* background-size:auto; */
	background-position: 50px 50px;
}

#category3 {
	width: 1000px;
	height: 260px;
	border: 1px solid black;
	/* background-image:url('image/이미지.png'); */
	background-repeat: no-repeat;
	/* background-size:auto; */
	background-position: 50px 50px;
}

#category4 {
	width: 1000px;
	height: 260px;
	border: 1px solid black;
	/* background-image:url('image/이미지.png'); */
	background-repeat: no-repeat;
	/* background-size:auto; */
	background-position: 50px 50px;
}

#category5 {
	width: 1000px;
	height: 260px;
	border: 1px solid black;
	/* background-image:url('image/이미지.png'); */
	background-repeat: no-repeat;
	/* background-size:auto; */
	background-position: 50px 50px;
}

#explanation {
	width: 300px;
	height: 50px;
}

#search {
	width: 500px;
	height: 30px;
}

#searchbtn {
	height: 30px;
}